* {
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
}

body {
  font-family: sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #fdbcea;
  padding: 0.2em;
}

header a h1 {
  color: #ffffff;
  list-style: none;
}

header a {
  color: #ffffff;
}

/* FORMULAIRE */

.formContainer {
  background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 30px; 
    width: 400px; 
    max-width: 90%; 
    margin: 40px auto; 
    box-sizing: border-box;
    text-align: left;
}

.formContainer h2 {
  margin-bottom: 0.5em;
}

.formContainer button {
  margin-top: 1em;
}
